<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head> <!--th:replace="~{fragments/navbar.html :: header( title = 'Productos')}" --></head>
    <body>
        <div class="container">
            <!--
            <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Product')}"></nav> -->
            <h2>Lista de Dispositivos</h2>
            <a class="btn btn-primary mt-4 mb-4" th:href="@{'/product/new'}">Agregar Dispositivo</a>
            <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Disponibles</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dispositivo: ${listaDispositivos}">
                        <td th:text="${dispositivo.getId()}"></td>
                        <td th:text="${dispositivo.getNombre()}"></td>
                        <td th:text="${dispositivo.getStock()}"></td>
                        <td th:text="${dispositivo.getStock()}"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script th:replace="~{fragments/navbar.html :: footer-bootstrap}"></script>
    </body>
</html>
